#chessboard
{
    height: 570px;
    width: 570px;
}

.black
{

	width: 64px;
	height: 64px;
	float: left;
	background-color: #191919;
  color:white;
}

.white
{
	width: 64px;
	height: 64px;
	float: left;
	background-color: #E8EBEC;
  color:black;

}