#chessboard
{
    height: 270px;
    width: 270px;
}

#black
{

	width: 32px;
	height: 32px;
	float: left;
	background-color: #191919;
}

#white
{
	width: 32px;
	height: 32px;
	float: left;
	background-color: #E8EBEC;
}